<form action="http://amigo.geneontology.org/amigo/medial_search" class="" method="GET">
  <div class="center-block" style="padding-bottom: 1em;">
    <h4 for="gsf-query" class="display: block; margin-left: auto; margin-right: auto;">Search GO data</h4>
    <input id="gsf-query" class="form-control" style="width: 100%;" name="q" placeholder="Search for terms and gene products..." title="Hint: add a space after completing a word to narrow the search." type="text" />
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
